* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

:root {
  --font-weight4: 400;
  --font-weight7: 700;
  --Cyan: hsl(179, 62%, 43%);
  --Cyan-Ligth: hsl(179, 80%, 42%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

body {
  font-size: 16px;
  background-color: var(--Light-Gray);
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  min-height: 100vh;
}

span {
  color: var(--Grayish-Blue);
}

button {
  width: 100%;
  margin-top: 55px;
  padding: 15px;
  border-radius: 3px;
  border: none;
  background-color: var(--Bright-Yellow);
  color: #fff;
  cursor: pointer;
  font-weight: var(--font-weight7);
  box-shadow: 0 15px 20px 10px rgba(40, 49, 87, 0.1);
  opacity: 0.9;
  transition: all 200ms ease-in;
}

button:hover {
  opacity: 1;
}

.card-container {
  border-radius: 10px;
  overflow: hidden;
  max-width: 750px;
  box-shadow: 0 15px 20px 10px rgba(40, 49, 87, 0.1);
}

.first-component {
  background-color: #fff;
  padding: 40px;
}
.second-component {
  display: flex;
}

.price {
  background-color: var(--Cyan);
  padding: 40px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.why-us {
  background-color: var(--Cyan-Ligth);
  padding: 40px;
  width: 100%;
  color: #fff;
  line-height: 25px;
  font-weight: var(--font-weight4);
}

.why-us li {
  list-style-type: none;
}

.twenty-nine {
  font-weight: var(--font-weight4);
  font-size: 25px;
}

@media screen and (max-width: 755px) {
  .card-container {
    margin: 20px;
  }

  .second-component {
    flex-direction: column;
  }

  .price {
    align-items: center;
  }

  button {
    width: 90%;
    align-items: center;
  }
}

@media screen and (max-width: 756px) {
  #btn {
    width: 60%;
  }
}